body{
    background-color: #EBEEE0;
    overflow: auto;
}
.sach-container{
    .title{
        font-size: 30px;
        font-weight: bold;
        color: #856A32;
        margin-top: 80px;
        margin-bottom: 20px;
    }

    .sach-table{
        margin-top: 4rem; /* Khoảng cách trên */
        margin-left: 1.5rem; /* Khoảng cách trái */
        margin-right: 1.5rem; /* Khoảng cách phải */
        
        table {
            width: 100%; /* Độ rộng của bảng */
            border-collapse: collapse; /* Loại bỏ khoảng cách giữa các ô */
            margin-top: 1.5rem; /* Khoảng cách trên của bảng */
            
            th, td {
                padding: 0.75rem; /* Khoảng cách giữa nội dung và đường biên */
                text-align: left; /* Canh lề trái nội dung */
                border-bottom: 1px solid rgba(0, 0, 0, 0.2); /* Đường viền dưới */
            }
            th.stt, td.stt, th.soluong, td.soluong, th.dongiaban, td.dongiaban {
                text-align: center;
            }
            
            th {
                color: #856A32;
                font-weight: bold; 
            }
            
            tbody tr {
                background-color: #fff; 
            }
            
            /* Tùy chọn thêm kiểu cho ô cuối cùng */
            td:last-child {
                text-align: center; /* Canh giữa nội dung */
            }
        }

    }
}