@import "../../styles/common.scss";

.navbar {
    background-color: #B6A37B;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0px;
    position: fixed;
    z-index: 999;

    .right-menu {
        font-size: 18px;

        .btn-logout {
            color: $common-text-color;
            line-height: 40px;
            height: 40px;
            padding: 0 10px;
            &:hover {
                color:#856A32;
                ;
              }

            i {
                font-size: $base-size + 5px;
            }
        }

        span.welcome {
            font-family: 'Times New Roman', Times, serif;
            color: white;
            margin-right: 10px;
        }
    }
}

.menu-bars {
    background: none;
    margin-left: 2rem;
    font-size: 2rem;
    color: azure;
    &:hover {
        color:#856A32;
      }
}

.nav-menu {
    background-color: #B6A37B;
    width: 240px;
    height: 100vh;
    // display: flex;
    position: fixed;
    justify-content: center;
    top: 0;
    left: -100%;
    transition: 850ms;
}

.nav-menu.active {
    left: 0;
    transition: 350ms;
    z-index: 1000;
}

.nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px 0px 5px 16px;
    margin-top: 5px;
    list-style: none;
    height: 54px;
    &:hover{
        background-color: #856A32;
    }
}

.nav-text a {
    text-decoration: none;
    color: aliceblue;
    font-size: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
}

.nav-text.active {
    background-color: #856A32;
}

.nav-menu-items {
    width: 100%;
    list-style: none;
    justify-items: left;

}

.navbar-toggle {
    background-color: #B6A37B;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;

    span {
        margin-left: 16px;
    }
}

.item-title {
    font-family: 'Times New Roman', Times, serif
}